<div class="activity"
     ng-mousedown="select($event)"
     ng-class="{ selected: isSelected() }"
     context-menu="select($event)"
     data-target="ActivityContextMenu">

    <div class="header"
         ng-class="{ selected: isSelected() }">

        <span>{{ actBase.displayName  || "&nbsp" }}</span>

        <span id="rightIcon">
            <i ng-class="{ 'fa fa-expand': expander }"
               ng-click="expanderFn()"></i>
        </span>

    </div>

    <div ng-transclude></div>

</div>