<div class="activity"
     ng-mousedown="select($event)"
     ng-class="{ selected: isSelected() }"
     context-menu="select($event)"
     data-target="ActivityContextMenu">

    <div class="header"
         ng-class="{ selected: isSelected() }">

        <span>{{ actBase.displayName  || "&nbsp" }}</span>

        <span id="rightIcon">
            <i ng-if="expander != null"
               class="fa fa-expand two-thirds-text"
               ng-click="expander()"></i>
        </span>

    </div>

    <div ng-transclude></div>

</div>